@page "{id:Guid}"
@model RazorPages.Pages.Products.DeleteModel
@{
}

<form method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">
        Delete
    </button>

    <a asp-page="Index" class="btn btn-secondary">
        Cancel
    </a>
</form>